body {
    background-color: #407FFE;
    font-family: "Raleway",sans-serif;
}

#wrapper {
    background-color: #ffffff;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 25px;
    width: 960px;
    border:10px solid #174CF2;
}

#mainContent {
    background-color: #ffffff;
    height: auto;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
}

#inputFormSection {
    /* width: 500px; */
}

#titleSelectSection {
    /* position:absolute; */
    /* width: 500px; */
    float: left;
    height: 50px;
    width: 100%;
}

#titleSelect {
	display: inline;
	margin-bottom: 100px;
}

#descriptionSection {
    float: left;
}

#descriptionHeader {
	font-size: 1.5em;
	display: inline;
}

#description {
	display: inline;
	font-size: .75em;
}

#notesArea {
	display: inline;
	float: left;
	font-size: .75em;
}

#viewerCanvasOuter {
	/* height: 550px; */
	height: auto;
    width: 600px;
	background-color: none; 
    margin-left: auto;
    margin-right: auto;
}

#actionButtons {
	float: left;
	display: block;
}

#spacer {
	height: 15px;
}






